@model LibraryManagementSystem.Models.Student

@{
    Layout = "_StudentLayout";
    ViewData["Title"] = "Edit Profile";
}

<<form asp-action="EditProfile" method="post" enctype="multipart/form-data">

    <div class="mb-3">
        <label>Name</label>
        <input asp-for="Name" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Email</label>
        <input asp-for="Email" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Profile Photo</label>
        <input type="file" name="profileImage" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Save Changes</button>

</form>